/* .page-footer {
  margin: 15px 0px;
}

.page-footer .description {
  line-height: 20px;
}

.page-footer .divider {
  height: inherit;
}

.follow-us {
  margin-top: 16px;
}

.footer-links {
  margin-top: 10px;
}

.page-footer a {
  color: #000;
  text-decoration: none;
}

.trademark {
  margin: 0px 10px;
  height: 20px;
  background-color: #f7f7f7;
} */