/* .services-card {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card-title {
  margin: 0;
  padding: 10px 0;
  color: #007bff;
}

.homepage-content {
  padding: 20px 50px;
  background-image: url('../images/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-header {
  text-align: center;
  color: #fff;
  height: 64px;
  padding-inline: 48px;
  line-height: 64px;
  background-color: white;
}

.homepage-footer {
  padding: 0px;
}

.advertising-card {
  width: 100%;
  margin: 35px 0px;
} */